@font-face { 
  font-family: Jenna Sue; 
    src: url('../fonts/JennaSue-webfont.eot'); 
    src: local("Jenna Sue"), url('../fonts/JennaSue-webfont.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
   /* <link rel="shortcut icon" href="flowinfinity-20131110-favicon.ico">*/
    
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em arial, sans-serif;
  background: #282828 url(http://i1330.photobucket.com/albums/w580/NivaLevy/white-wedding-chairs_zpsd5fd71ad.jpg) repeat-y center;
  webkit-background-size: cover;
  moz-background-size: cover;
	-o-background-size: cover;
background-size: cover;
 
  background-image: color #BBB;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #FFF;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
  text-align: right;
}

h7{
/* color: #FFF;*/
  letter-spacing: 0em;
  padding: 0 0 5px 0;
  text-align: left;	
   color: #F5A9BC;
  padding: 0 0 5px 0;
  font: normal 360% 'Jenna Sue', arial, sans-serif;
}

h1, h2, h3 { 
  font: normal 140% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #FFF;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #F5A9BC;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #F5A9BC;
  padding: 0 0 5px 0;
  font: normal 250% 'Jenna Sue', arial, sans-serif;
}

h5, h6 { 
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

h5 { 
  color: #FFF;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #F5A9BC;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: right;
  width: auto;
  margin-right: 10px;
}

.searchBar { 
  float: right; 
  width: auto;
  margin-left: 10px;
  margin-top: 130px;
 /* padding: 100px;*/
} 

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

.centerSearch
{
	display:block;
	text-align: center;
	
}
#main, nav, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: 50px auto;
  width: 1195px;
  border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border: 13px 13px 13px 13px;
  background: transparent url(http://i1330.photobucket.com/albums/w580/NivaLevy/main_zpse0688d97.png);
  padding-bottom: 30px;
}

#searchIndex
{
	/*margin: 50px auto;*/
	float: right;
	width: 890px;
	/*height: 400px;*/
	border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border: 13px 13px 13px 13px;
	background: transparent  url(../images/main.png) ;
 /* 	padding-bottom: 30px;
	margin-right: 10px;*/
	margin-left: 110px;
	/*margin-bottom: 0px;*/
	/*margin-top: -165px;*/
	background: #FFF5EE;
	padding: 20px;
	opacity: 0.9;
}
.searchIndex h3, .content h1 { 
  padding: 5px 0 20px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  text-shadow:  #000 1px 1px;
  margin: 0 1px;
  color: #FFF;
 
  
}
<!-- -->

<!-- -->
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  list-style: none;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 950px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 38px 25px 0 25px;   
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 100% 'News Cycle', arial, sans-serif;
  color: #000;}
header { 
  background: transparent;
  height: 179px;
}

#logo { 
  width: 930px;
  height: 179px;
  background: transparent;
  color: #888;
  padding: 0;
  /*float: left;*/
}

#logo h1, #logo h2 { 
 
  border-bottom: 0;
  text-transform: none;
  margin: 0;
  
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  font: normal 230% 'Jenna Sue', arial, sans-serif;
  padding: 20px 20px 0px 0px;
  color: #F5A9BC;
  text-decoration: none;
  float: left;
}

#logo_text h1 a .logo_colour { 
  color: #FE2E64;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font: 170% 'News Cycle', arial, sans-serif;
  padding: 0 0 0 0;
}

.field
{
	height: 44px;
  width: 930px;
}

nav { 
  height: 44px;
  width: 930px;
  margin: 0px auto 0 auto  /*auto<!-- -34px auto 0 auto;!-->*/
  background: #675B42; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#9C8563, #675B42);
  background: -o-linear-gradient(#9C8563, #675B42);
  background: -webkit-linear-gradient(#9C8563, #675B42);
  border: 1px solid #483F2C;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
} 

#menu_container { 
  width: 930px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 930px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 15px 0;
} 

#sidebar_container { 
  float: left;
  width: 224px;
  padding: 20px 0 0 0;
}

.sidebar { 
  float: right;
  width: 200px;
  margin: 0 0 0px 0;
  background:  #675B42; <!-- #FFF8DC;-->
 -->
  border: 1px solid #242808;
  -webkit-border-radius: 13px 13px 13px 13px; 
  -moz-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px;
  padding: 0 15px 5px 13px;
  opacity: 0.8;
}
  
.sidebar h3, .content h1 { 
  padding: 5px 0 20px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  text-shadow:  #000 1px 1px;
  margin: 0 1px;
  color: #FFF;
  
}

.sidebar h3 { 
  padding: 9px 0 14px 0;
  color: #FFF;
  font: 170% 'News Cycle', arial, sans-serif;
}

.sidebar a {
	float: right;
}

.sidebar ul { 
  margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
  color: #FFF;
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}

.paperclip { 
  float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -15px 0 -60px -40px;
}

.content { 
  text-align: right;
  width: 630px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}


.content1 { 
  text-align: right;
  width: 630px;
  margin: 0 0 0 0;
  float: left;
 /* font-size: small;*/ 
  padding: 20px 20px 0px 0px;
}  
.content2 { 
  text-align: right;
  width: 630px;
  margin: 0 0 0 0;
  float: left;
  font-size: 320%; 
  padding: 20px 20px 0px 0px;
} 
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

footer { 
  width: 930px;
  font: 240% 'Jenna Sue', arial, sans-serif;
  height: 30px;
  padding: 5px 0 20px 0;
  text-align: center; 
  background: #675B42; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#9C8563, #675B42);
  background: -o-linear-gradient(#9C8563, #675B42);
  background: -webkit-linear-gradient(#9C8563, #675B42);
  border: 1px solid #483F2C;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-shadow: none;
  text-decoration: underline;
}

.form_settings { 

  margin: 15px 15px 0 0;
}

.form_settings p { 
  padding: 10px 0px 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #6F6147; 
  background: #EFF8FB; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 200% 'Jenna Sue', arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 0 0 3px 0;
  cursor: pointer; 
  background: #675B42; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#9C8563, #675B42);
  background: -o-linear-gradient(#9C8563, #675B42);
  background: -webkit-linear-gradient(#9C8563, #675B42);
  border: 1px solid #483F2C;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  color: #FFF;
}

.form_settings .submitFB { 
  font: 200% 'Jenna Sue', arial, sans-serif; 
  border: 0; 
  width: 190px; 
  margin: 0 -50px 20px 270px; 
  height: 33px;
  padding: 0 0 3px 0;
  cursor: pointer; 
  background: #675B42; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#9C8563, #675B42);
  background: -o-linear-gradient(#9C8563, #675B42);
  background: -webkit-linear-gradient(#9C8563, #675B42);
  border: 1px solid #483F2C;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  color: #FFF;
}
.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 100px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #F5A9BC;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #F8EEEA;
  color: #47433F;
  border-top: 1px solid #FFF;
}



/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 240px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 240px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 10;
  top: 24px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: #483F2C;
  margin-top: -5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:8px 20px 6px 20px;
  font: 240% 'Jenna Sue', arial, sans-serif;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus { 
  color: #FE2E64;
  text-shadow: none;
}

ul#nav ul li a { 
  padding: 13px 20px 6px 20px;
}

ul#nav ul li a:hover, ul#nav ul li a:focus { 
  color: #FE2E64;
  text-shadow: none;
}

#search input[type="text"] {
    background: url(/images/search-dark.png) no-repeat 10px 6px #675B42;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #FFF;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }